{% extends "layout.html" %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>
    <hr>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">

        <!-- TODO -->
  <!-- Name text inputs -->
        <div class="form-group">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" autocomplete="off" autofocus>
            <p id="noFirstName" class="error"></p>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" autocomplete="off">
            <p id="noLastName" class="error"></p>
        </div>

        <!-- Title select menu -->
        <div class="form-group">
            <select class="form-control" name="title">
                <option selected disabled>Title</option>
                <option>Senior</option>
                <option>Intermediate</option>
                <option>Junior</option>
                <option>Associate</option>
            </select>
            <p id="noTitle" class="error"></p>
        </div>

        <!-- Position radio buttons -->
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="position" id="Manager" value="Manager">
                <label class="form-check-label" for="Manager">
                    Manager
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="position" id="teamlead" value="Team Lead">
                <label class="form-check-label" for="teamlead">
                    Team Lead
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="position" id="developers" value="Developers">
                <label class="form-check-label" for="developers">
                    Developers
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="position" id="testers" value="Testers">
                <label class="form-check-label" for="testers">
                    Testers
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="position" id="users" value="Users">
                <label class="form-check-label" for="users">
                    Users
                </label>
            </div>
            <p id="noPosition" class="error"></p>
        </div>

        <!-- Email input -->
        <div class="form-group">
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email address">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <p id="noEmail" class="error"></p>
        </div>
        <hr>

        <!--end of TODO-->

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>
        <hr>
    </form>

    <script>

        /* TODO */
        // JavaScript function used to ensure all fields are filled out. This is called when the form is
        // attempting to submit.
        function validateForm() {
            var v = document.forms["survey"]["email"].value;
            var w = document.forms["survey"]["firstName"].value;
            var x = document.forms["survey"]["lastName"].value;
            var y = document.forms["survey"]["title"].value;
            var z = document.forms["survey"]["position"].value;
            if (v == "") {
                document.getElementById("noEmail").innerHTML = "Please enter email address";
            }
            else {
                document.getElementById("noFirstName").innerHTML = "";
            }
            if (w == "") {
                document.getElementById("noFirstName").innerHTML = "Please enter first name";
            }
            else {
                document.getElementById("noFirstName").innerHTML = "";
            }
            if (x == "") {
                document.getElementById("noLastName").innerHTML = "Please enter last name";
            }
            else {
                document.getElementById("noLastName").innerHTML = "";
            }
            if (y == "Title" || y == "") {
                document.getElementById("noTitle").innerHTML = "Title must be selected";
            }
            else {
                document.getElementById("noTitle").innerHTML = "";
            }
            if (z == "") {
                document.getElementById("noPosition").innerHTML = "Position must be selected";
            }
            else {
                document.getElementById("noPosition").innerHTML = "";
            }
            if (v == "" || w == "" || x == "" || y == "" || y == "Title" || z == "") {
                return false;
            }
        }

        // end of TODO

    </script>

{% endblock %}
