{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

   <HEAD>
   </HEAD>
   <BODY>

       <!--<h2><font color="blue"><b>Find Events Near You!</b></font></h2>-->

       <center>
        <div class="maps">
            <div class="gmap_canvas">
               <iframe width="860" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=dallas&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
               </iframe>
               <a href="https://www.pureblack.de/webdesign-bremen/">
               </a>
            </div>
        <style>.maps{text-align:right;height:400px;width:860px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:860px;}
        </style>
        </div>
        </center>

   <table class="table table-hover table-dark">
        <thead>
            <th>Event Name</th>
            <th>Location/Date & Time</th>
            <th>Contact Info</th>
            <th>Name of Attendee</th>
            <th>Additional Information</th>
        </thead>
        <tbody>
        {% for x in events %}
        <tr>
            <td>{{x.event_name}}</td>
            <td>{{x.location}}</td>
            <td>{{x.contact}}</td>
            <td>{{x.yourname}}</td>
            <td>{{x.other_info}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<h3><font color="blue"><b>Add Event to Your Calendar</b></font></h3>-->
    <!--<hr>-->
    <a href="http://www.google.com/calendar/event?
    action=TEMPLATE
    &text=[event-title]
    &dates=[start-custom format='Ymd\\THi00\\Z']/[end-custom format='Ymd\\THi00\\Z']
    &details=[description]
    &location=[location]
    &trp=false
    &sprop=
    &sprop=name:"
    target="_blank" rel="nofollow"><h2 class="btn btn-primary">Add to Your Calendar</h2></a>

   </BODY>

{% endblock %}
