{% extends "layout.html" %}

{% block title %}
    Add Events
{% endblock %}

{% block main %}
<br>

<br>
<br>
<br>
<hr>
   <!--<button><h1 class="mb-3"><font face="impact" color="#006dcc"><b>Who Else is Attending an Event?</b></font></h1></button>-->
   <!--<a href="/" ><button type="button" class="btn btn-outline-primary"><h1><b>Who Else is Attending an Event?</b></h1></button></a>-->
    <form action="/whoelse" method="post">

        <div class="form-group">
            <input class="form-control" name="eventname" placeholder="Enter Event Name" type="text">
            <br>
            <br>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
<hr>
{% endblock %}