{% extends "layout.html" %}

{% block title %}
    Add Events
{% endblock %}

{% block main %}
<body class="add">

    <!--<h1 class="mb-3"><font face="impact" color="#006dcc"><b>Add an Event</b></font></h1>-->
    <!--<a href"/"><h1 class="btn btn-primary"><b>Add an Event</b></h1></a>-->
       <!--<a href="/" ><button type="button" class="btn btn-outline-primary"><h1><b>Add an Event</b></h1></button></a>-->

<br>
<br>
<hr>
    <form action="/addevents" method="post">

        <div class="form-group">
            <input class="form-control" name="eventname" placeholder="Event Name (unique)" type="text">
            <input class="form-control" name="yourname" placeholder="Your Name" type="text">
            <input class="form-control" name="location" placeholder="Location and Date/Time of Event" type="text">
            <br>
            <br>
            <div>
                <input class="form-control" name="contact" placeholder="Contact Email" type="text">
                <input class="form-control" name="otherinfo" placeholder="Phone Number/Additional Info" type="text">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
    <br>
    <br>
    <br>
    </body>

{% endblock %}